.vitrine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    &__item{
        background-color: rgb(216, 144, 250);
        border-radius: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;        
        min-height: 20rem;
        padding: .25rem 1rem;
    }

    &__img{
        background-color: crimson;
        height: 10rem;
        width: 100%;
    }

    &__link{
        background-color: blueviolet;
        border: 1px solid white;
        border-radius: 1rem;
        color: white;
        font-weight: bold;
        padding: .5rem 1rem;
        font-size: $font-default;
        text-decoration: none;
        align-self: center;
        margin-bottom: 1rem;
    }
}