#contact {

    .container {
        margin: 2rem 0 2rem 0;
        width: 90vw;

        h2 {
            color: $color-font;
            text-align: center;
            font-family: nice_honeyregular, sans-serif;
            font-size: 4rem;
        }

        form{
            background-color: white;
            border-radius: 1rem;
            display: flex;
            flex-flow: row;
            flex-wrap: nowrap;
            padding: 1.2rem;
            justify-content: space-between;
            align-self: center;
            width: 90%;
            height: 10rem;

            @media (max-width: 750px) {
                width: 100%;
                display: grid;
                height: 200px;
                overflow: hidden;
                grid-template-columns: repeat(1, 1fr);
                gap: 1rem;
            }

            @media (min-width: 768px) and (max-width: 1199px) {
                width: 100%;
                gap: 0;
            }

            .contato__input{
                height: 2.3rem;
                max-width: 35rem;
                display: flex;
                align-self: center;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            textarea{
                height: 5rem;
                max-width: 35rem;
                align-self: center;
            }

            button{
                background-color: blueviolet;
                border: 1px solid white;
                border-radius: 1rem;
                color: white;
                font-weight: bold;
                padding: .5rem 1rem;
                font-size: $font-default-size;
                text-decoration: none;
                align-self: center;
                margin-bottom: 1rem;

                &:hover {
                box-shadow: 0 0 15px 1px rgba(172, 72, 197, 197);
                }
            }
        }
    }
}