@font-face {
    font-family: 'nice_honeyregular';
    src: url('/Font/nice_honey-webfont.woff') format('woff2'),
         url('/Font/nice_honey-webfont.woff2') format('woff'),
         url('/Font/Nice_Honey.ttf') format('ttf');
    font-weight: normal;
    font-style: normal
}