header .container {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        h2 img{
            height: auto;
            width: 200px;
            display: flex;
            align-items: flex-start;
        }        

    .hero{
        align-items: flex-end;
        background-image: url('../assets/bees.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200px;
        display: flex;
        height: 35rem;
        overflow: hidden;
        width: 100%;

        h1{
            text-align: center;
            width: 100%;
        }
    }

    @media (max-width: 750px) {
        img{
            width: 100%;
            height: auto;
            position: relative;
            max-width: none;
            text-align: -webkit-center;

        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        img{
            width: 100%;
            height: auto;
            position: relative;
            max-width: none;

        }
    }
}