$color-font: #5a1f26;
$background-color: #f5cc73;
$color-item: #fbd0ff; 
$background-color-box:#fff;
$text-color-box: rgb(40, 40, 41);
$color-bg-default: #33f;
$font-default: Arial, Helvetica, sans-serif;
$font-default-size: 1.2rem;

@viewport{
    width: device-width;
    zoom:1;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    background: $background-color;
    background-size: cover;
    font-family: $font-default;
    margin: 0;
}

h1 {
    color: $color-font;
    text-align: center;
    width: 100%;
    font-family: nice_honeyregular, sans-serif;
    font-size: 45px;
    text-shadow: 1px 1px 9px #b14700;
}

h2 {
    color: $color-font;
    text-align: center;
    font-family: nice_honeyregular, sans-serif;
    font-size: 4rem;
}

header,
section,
footer {
    display: block;
    float:left;
    width: 100%;
}

section{
    padding: 4rem 0;
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column;
    max-width: 90vw;
    margin: 0 auto;
}


@import './vitrine';

@import './fonts';

@import './nav';

@import './header';

@import './sobre';

@import './contact-form';

@import './grids';
